/* Import the Tailwind base styles */
@tailwind base;

/* Import the Tailwind component styles */
@tailwind components;

/* Import the Tailwind utility styles */
@tailwind utilities;

/* Your custom CSS for the marquee animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Scroll half of the container width */
    }
}

.animate-marquee {
  animation: marquee 30s linear infinite; /* Adjust duration as needed */
}
